.program-select__container {
  padding: 27px 20px 0;
  font-family: $secondary-font;
}

.program-select__title {
  font-size: $primary-big;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 37px;
}
