.select-form__desc {
  font-size: $secondary-small;
  line-height: 1.28;
  text-transform: uppercase;
  margin: 0 0 39px;
}

.select-form__group {
  border: none;
  row-gap: 14px;
  padding: 0;
  margin: 0;
}

.select-form__list {
  list-style-type: none;
  font-size: $tertiary-small;
  color: $default-lighten-color;
  line-height: 1.12;
  text-transform: uppercase;

  @include flex(column, start, stretch);
  row-gap: 14px;
  padding: 0;
  margin: 0;
}

.select-form__item {
  @include flex(row, stretch, center);
  column-gap: 13px;
}

.select-form__input,
.select-form__email,
.select-form__phone {
  border: 1px solid $border-color;
  padding: 14px 15px 13px;
  flex-grow: 1;
}

.select-form__email,
.select-form__phone {
  padding: 14px 50px 13px 15px;
}

.select-form__input,
.select-form__email,
.select-form__phone,
.select-form__comment,
.select-form__area::placeholder {
  font-family: $secondary-font;
  font-weight: 400;
  line-height: 1.12;
  font-size: 16px;
  text-transform: uppercase;
}

.select-form__person {
  padding: 0 0 24px;
}

.select-form__program {
  padding: 22px 0 19px;
  margin: 0 0 26px;
}

.select-form__radio,
.select-form__chekbox {
  display: none;
}

.select-form__label-program,
.select-form__label-additionally {
  @include flex;
  column-gap: 15px;
  cursor: pointer;
}

.select-form__radio-castom {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background-color: $light-color;
  border: 1px solid $light-darken-color-mod;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: none;
  }
}

.select-form__radio:checked + .select-form__label-program .select-form__radio-castom::before {
  background-color: $brand-color;
}

.select-form__contacts .select-form__legend,
.select-form__comments .select-form__legend,
.select-form__additionally .select-form__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.08;
}

.select-form__contacts {
  margin: 0 0 24px;
}

.select-form__contacts .select-form__legend {
  margin: 0 0 35px;
}

.select-form__comments {
  margin: 0 0 23px;
}

.select-form__comments .select-form__legend {
  margin: 0 0 38px;
}

.select-form__area {
  resize: none;
  width: 100%;
  border: 1px solid $border-color;
  padding: 14px 14px 14px 15px;
}

.select-form__additionally {
  margin: 0 0 34px;
}

.select-form__additionally .select-form__legend {
  margin: 0 0 34px;
}

.select-form__chekbox-cast {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid $light-darken-color-mod;
}

.select-form__chekbox:checked + .select-form__label-additionally .select-form__chekbox-cast {
  background-image: url("../../icons/stack.svg#tick");
}

.select-form__button {
  width: 100%;
  padding: 10px 44px;
  margin: 0 0 21px;
}

.select-form__reqir {
  font-family: $primary-font;
  text-align: center;
  margin: 0 0 32px;
}
